<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false">
    <contextName>efop-service</contextName>
    <jmxConfigurator/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}){blue} [%clr(%-5p)] [%clr(%-50.50thread){cyan}] %clr(%-50.50logger{20}){faint} - %replace(%msg){'\n', ''} %replace(%clr([%mdc]){magenta}){'\[\]', ''}%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <!-- Log level overrides per package -->
    <logger name="ROOT" level="INFO"/>
</configuration>
